<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Lista de Fotoperiodo</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<header class="bg-dark text-white text-center py-3">
		<h1>Lista de Fotoperiodo</h1>
	</header>

	<div class="container my-4">
		<table class="table table-dark table-bordered">
			<thead>
				<tr>
					<th>AÑO</th>
					<th>ENE</th>
					<th>FEB</th>
					<th>MAR</th>
					<th>ABR</th>
					<th>MAY</th>
					<th>JUN</th>
					<th>JUL</th>
					<th>AGO</th>
					<th>SEP</th>
					<th>OCT</th>
					<th>NOV</th>
					<th>DIC</th>

					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<!-- Bucle para iterar sobre los registros de fotoperiodo -->
				<tr th:each="fotoperiodo : ${fotoperiodos}">
					<td th:text="${fotoperiodo.year}">Año</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Enero']}">0.0</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Febrero']}">FEB</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Marzo']}">MAR</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Abril']}">ABR</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Mayo']}">MAY</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Junio']}">JUN</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Julio']}">JUL</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Agosto']}">AGO</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Septiembre']}">SEP</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Octubre']}">OCT</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Noviembre']}">NOV</td>
					<td th:text="${fotoperiodo.mesCantidadMap['Diciembre']}">DIC</td>

					<td>
						<a th:href="@{/fotoperiodo/edit/{id}(id=${fotoperiodo.id})}" class="btn btn-warning">Editar</a>
						<a th:href="@{/fotoperiodo/delete/{id}(id=${fotoperiodo.id})}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<footer class="bg-dark text-white text-center py-3">
		<p>© 2024 Sistema de Gestión de Fotoperiodo. Todos los derechos reservados.</p>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>